body {
    width: 300px;
    height: 300px;
}

button {
    background-color: white;
    color: black;
    height: 30px;
    transition: 0.3s;
} 

button:hover {
    border-radius: 10px;
}


.padding-def {
    padding-top: 20px;
}

.center {
    margin: auto;
    width: 100px;
    display: block;
}

.debug {
    border-color: red 2px;
 }